<h2>All Historical Landmarks</h2>

<!-- add content here -->
<table>
  <th>Name</th>
  <th>Year Completed</th>

  <% @landmarks.each do |landmark| %>
    <tr>
        <td><%= landmark.name %></td>
        <td><%= landmark.year_completed %></td>
    </tr>
  <% end %>
</table>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
